<!--
This is an example MOTD file. Rename it to ona/www/local/config/motd.txt for it to display..
It technically can be used for whatever content you would like, not just MOTDs
-->
<div style="padding-top: 5px;" align="center">
<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 8px;">
  <tr>
	<td class="ws_plugin_title_right" title="">MOTD</td>
	<td class="ws_plugin_title_left">
            <img  src=""
                  id="desktopmotd_dropdown"
                  title="Min/Max"
                  onclick="if (el('desktopmotd_content').style.display=='none') { 
			   el('desktopmotd_content').style.display=''; el('desktopmotd_dropdown').src=self.location.pathname +'/images/silk/bullet_arrow_up.png'; 
			} else {
			   el('desktopmotd_content').style.display='none'; el('desktopmotd_dropdown').src=self.location.pathname +'/images/silk/bullet_arrow_down.png';
			}"
         /></td>
   </tr>
   <tr>
     <td colspan="99" id="desktopmotd_content">












        Here is an example MOTD.. put your content here












     </td>
  </tr>
</table>
<script>el('desktopmotd_dropdown').src=self.location.pathname +'/images/silk/bullet_arrow_up.png';</script>
</div>
