# dont process the run_install script
run_install
www/local/config/run_install

VERSION

www/local/*
www/local/config
!www/local/plugins
!www/local/plugins/README
!www/local/config/motd.txt.example

# Set up empty dirs
www/local/plugins/*
www/local/nmap_scans
!www/local/plugins/README
bin/*
!bin/README
etc/*
!etc/README
sql/*
!sql/EXAMPLE.sql.disable
!sql/list_all_hosts.sql

cfg_archive_local

