<!--
This is an example MOTD file. Rename it to ona/www/motd.txt for it to display..
It technically can be used for whatever content you would like, not just MOTDs
-->
<div style="padding-top: 5px;" align="center">
    <div style="text-align:center;width: 50%;background-color: #D3DBFF;border-style: solid; border-width: 1px 1px 0px; padding-right: 10px;">MOTD</div>
    <div style="padding: 5px;border-style:solid;border-width: 1px;text-align:left;width: 50%;">
        Here is an example MOTD.. put your content here
    </div>
</div>